<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ClientId" value=""/>
    <add key="ClientKey" value=""/>
    <add key="AADUserId" value=""/> <!--ignidata@microsoft.com-->
    <add key="AADPassword" value=""/> 
  </appSettings>
</configuration>